<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_springsource_roo_reader_domain_Country" modelAttribute="country" path="/countrys/u12" render="${empty dependencies}" z="gyCA+wdlUV1ksJOw6a2fqU/kf8M=">
        <field:input field="name" id="c_com_springsource_roo_reader_domain_Country_name" min="2" required="true" z="aebK7fVy53ciZqxhkwLrGVyBfkw="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_springsource_roo_reader_domain_Country" render="${not empty dependencies}" z="/eut+r5aQNf5HsbGNkzjyKFCpsA="/>
</div>
