<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:update id="fu_com_springsource_roo_reader_domain_Country" modelAttribute="country" path="/countrys" versionField="Version" z="Xe+5tQTKthndFnwY/Aeot0hIhb4=">
        <field:input field="name" id="c_com_springsource_roo_reader_domain_Country_name" min="2" required="true" z="aebK7fVy53ciZqxhkwLrGVyBfkw="/>
    </form:update>
</div>
