<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_springsource_roo_reader_domain_Rating" items="${ratings}" z="FHgnvaypfbwuTdUp2kpJN9lwwGk=">
        <table:table data="${ratings}" id="l_com_springsource_roo_reader_domain_Rating" path="/ratings" z="2ktH+eV9esFAxY4icYJfKjdK+sc=">
            <table:column id="c_com_springsource_roo_reader_domain_Rating_book" property="book" z="vCIA9Clrg04eCecTDb94Kge5hSE="/>
            <table:column id="c_com_springsource_roo_reader_domain_Rating_reader" property="reader" z="gWfmnt1zC0fQ6HKbnlIwN2eHAQM="/>
            <table:column id="c_com_springsource_roo_reader_domain_Rating_ratingscale" property="ratingscale" z="K7dzNF5vyVj84TgUhhRj4ShD2YY="/>
        </table:table>
    </page:list>
</div>
