<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_springsource_roo_reader_domain_Comment" object="${comment}" path="/comments" z="arRpEmKnnpYHg2g4Gchsg2TgeOY=">
        <field:display field="postby" id="s_com_springsource_roo_reader_domain_Comment_postby" object="${comment}" z="kVyMxO+tK4JccvpYc/YicJbPyT4="/>
        <field:display date="true" dateTimePattern="${comment_commentdate_date_format}" field="commentdate" id="s_com_springsource_roo_reader_domain_Comment_commentdate" object="${comment}" z="qSbOJS6N/KwUQv0JV0bsyk2ljpY="/>
        <field:display field="content" id="s_com_springsource_roo_reader_domain_Comment_content" object="${comment}" z="PMxhMuUVz5NAQLrIKrqc/n9ucAI="/>
        <field:display field="thumbup" id="s_com_springsource_roo_reader_domain_Comment_thumbup" object="${comment}" z="BQNx9WJEITiCEpM3F3SMYkwsjh8="/>
        <field:display field="topic" id="s_com_springsource_roo_reader_domain_Comment_topic" object="${comment}" z="NrBIr/V6v0hCtUUMxSpIoarORKU="/>
    </page:show>
</div>
