<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_springsource_roo_reader_domain_ReadingPlan" object="${readingplan}" path="/readingplans" z="dRDXmuLLRu3A0kee8Eri4l+yTts=">
        <field:display date="true" dateTimePattern="${readingPlan_starttime_date_format}" field="startTime" id="s_com_springsource_roo_reader_domain_ReadingPlan_StartTime" object="${readingplan}" z="zztHPeCdg+QeJBuytBV7fmUVoS8="/>
        <field:display date="true" dateTimePattern="${readingPlan_endtime_date_format}" field="endTime" id="s_com_springsource_roo_reader_domain_ReadingPlan_EndTime" object="${readingplan}" z="DhC5W5AzhtLyI8C0YjlyIwTABU8="/>
        <field:display field="finished" id="s_com_springsource_roo_reader_domain_ReadingPlan_finished" object="${readingplan}" z="j1WgRCnpEpkCVn8Z561DrIj/fR0="/>
        <field:display field="discontinue" id="s_com_springsource_roo_reader_domain_ReadingPlan_discontinue" object="${readingplan}" z="2NqElmmtNPd4kZUYtQmhBqWhmU4="/>
        <field:display field="planLog" id="s_com_springsource_roo_reader_domain_ReadingPlan_planLog" object="${readingplan}" z="tEP/9TJbnUBGjN8H1X1HM8WvNsw="/>
    </page:show>
</div>
