<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" xmlns:table="urn:jsptagdir:/WEB-INF/tags/form/fields" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:list id="pl_com_springsource_roo_reader_domain_ReadingLog" items="${readinglogs}" z="CcnwSeWzBPSkLpt1XfU9/HAt6yQ=">
        <table:table data="${readinglogs}" id="l_com_springsource_roo_reader_domain_ReadingLog" path="/readinglogs" z="uzp8lFdKtGOKpEIL2Uu0GrYfarU=">
            <table:column date="true" dateTimePattern="${readingLog_todaydate_date_format}" id="c_com_springsource_roo_reader_domain_ReadingLog_TodayDate" property="todayDate" z="oXNQD1Qwuvd7nJZipLE8VxhOvKk="/>
            <table:column id="c_com_springsource_roo_reader_domain_ReadingLog_timeSpent" property="timeSpent" z="cUBniKxlRAGO9ErFxhEGO7lpvx0="/>
            <table:column id="c_com_springsource_roo_reader_domain_ReadingLog_PageRead" property="pageRead" z="T5Oiu1LNSrggdcuC8gJvrLz+FQk="/>
            <table:column id="c_com_springsource_roo_reader_domain_ReadingLog_notes" property="notes" z="OjvDISwekuYzFVtCM8QhVOQMy9Q="/>
        </table:table>
    </page:list>
</div>
