<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_springsource_roo_reader_domain_UserRole" modelAttribute="userRole" path="/userroles" render="${empty dependencies}" z="sXcDakDDUnM0wyKZP2BIMFdHoJs=">
        <field:input field="RoleName" id="c_com_springsource_roo_reader_domain_UserRole_RoleName" min="2" required="true" z="2tdkvO7D8wbA1wlnoXwKKveuFOk="/>
        <field:textarea field="Description" id="c_com_springsource_roo_reader_domain_UserRole_Description" required="true" z="HTiUq3gzcJcriQeva2azV+4P2UM="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_springsource_roo_reader_domain_UserRole" render="${not empty dependencies}" z="IfAGeGMPvq87DwvsVypAVseAjP0="/>
</div>
