<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/form" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_springsource_roo_reader_domain_Reader" modelAttribute="reader" path="/readers" render="${empty dependencies}" z="/ZKOV+OMSVMj9mjFjWW9BSxW5Pg=">
        <field:input field="username" id="c_com_springsource_roo_reader_domain_Reader_username" max="10" required="true" z="JFNSZVra+ldsM7jN0I1HbiSeY20="/>
        <field:input field="password" id="c_com_springsource_roo_reader_domain_Reader_password" min="8" required="true" z="PhrL+RLaDIQ07lo0n8ai/Ia9mG8="/>
        <field:textarea field="firstname" id="c_com_springsource_roo_reader_domain_Reader_firstname" required="true" z="eMjLFDRLgGWQL4ryzu9JpcqciDM="/>
        <field:textarea field="lastname" id="c_com_springsource_roo_reader_domain_Reader_lastname" required="true" z="0s50iPJQSQswWj2eMjV5o41pI9k="/>
        <field:textarea field="email" id="c_com_springsource_roo_reader_domain_Reader_email" required="true" validationMessageCode="field_invalid_email" z="zPAvrrWxQNY+nSzpNKBIGjGX6NM="/>
        <field:input field="streetno" id="c_com_springsource_roo_reader_domain_Reader_streetno" max="10" z="ilgBU0S9joj2PKpDPksRspAjBcI="/>
        <field:textarea field="streetname" id="c_com_springsource_roo_reader_domain_Reader_streetname" z="o3MuECKSv4TCWByRARYOqReNPEY="/>
        <field:input field="surburb" id="c_com_springsource_roo_reader_domain_Reader_surburb" max="30" z="tcoL0xBN1fMezqsJu+E0cRrivBY="/>
        <field:input field="states" id="c_com_springsource_roo_reader_domain_Reader_states" max="30" z="sCV/DzbTuqunUNVKrJIRIdF1xh8="/>
        <field:input field="postcode" id="c_com_springsource_roo_reader_domain_Reader_postcode" required="true" validationMessageCode="field_invalid_integer" z="KUtPwSaREySZ9AIPSlgE7dtNXmA="/>
        <field:textarea field="interests" id="c_com_springsource_roo_reader_domain_Reader_interests" required="true" z="at0luElZ9X/0XCjUyS7rdwECZuY="/>
        <field:select field="userRole" id="c_com_springsource_roo_reader_domain_Reader_userRole" itemValue="id" items="${userroles}" path="/userroles" z="/UayUiWL/D18XWjLmfooiPgZ8xs="/>
        <field:checkbox field="activestatus" id="c_com_springsource_roo_reader_domain_Reader_activestatus" z="VMwZRxxH02gbhYn9lUSG36SMGSE="/>
        <field:checkbox field="subscribe" id="c_com_springsource_roo_reader_domain_Reader_subscribe" z="Ul1NgsPSMTY9+YtCS0x+zsOJRr8="/>
        <field:select field="rates" id="c_com_springsource_roo_reader_domain_Reader_rates" itemValue="id" items="${ratings}" multiple="true" path="/ratings" z="DN8HFSWSiR2fwK2fnyD0bBpS588="/>
        <field:select field="topics" id="c_com_springsource_roo_reader_domain_Reader_topics" itemValue="id" items="${topics}" multiple="true" path="/topics" z="Ipp3GG911LHoUgwM9pLeJJdLEYg="/>
        <field:select field="readinglists" id="c_com_springsource_roo_reader_domain_Reader_readinglists" itemValue="id" items="${readinglists}" multiple="true" path="/readinglists" z="XCEXvE8NTns19Csr5yEiwSNjpRw="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_springsource_roo_reader_domain_Reader" render="${not empty dependencies}" z="1ncjnl4yhfPqtQocRw0jnsfs20g="/>
</div>
