<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:field="urn:jsptagdir:/WEB-INF/tags/form/fields" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:page="urn:jsptagdir:/WEB-INF/tags/form" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <page:show id="ps_com_springsource_roo_reader_domain_Publisher" object="${publisher}" path="/publishers" z="jIOSwsskITyeR7Rk0ebZiXQP2hk=">
        <field:display field="name" id="s_com_springsource_roo_reader_domain_Publisher_name" object="${publisher}" z="gXqw09SNiZH8MeuLg8cZTV4Dtpg="/>
        <field:display field="country" id="s_com_springsource_roo_reader_domain_Publisher_country" object="${publisher}" z="h5ypfld+fzE5CiZH/N1Usz+U4uU="/>
    </page:show>
</div>
